/*!
 * Start Bootstrap - Grayscale Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background:  url(../img/vos.png) repeat center center scroll;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #42dca3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #1d9b6c;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background:  url(../img/vos.png) repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.all-section {
	
  	width: 100%;
    padding-top: 250px;
    padding: 100px 0;
    color: #fff;
    background:  url(../img/vos.png) repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	
}

.voted-section {
    
    width: 100%;
    padding-top: 100px;
    padding: 50px 0;
    color: #fff;
     background:  url(../img/vos.png) repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.personal-section {
    width: 100%;
    padding-top: 100px;
    padding: 50px 0;
    color: #fff;
    background:  url(../img/vos.png) repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #42dca3;
    color: #42dca3;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #42dca3;
    outline: 0;
    color: #000;
    background-color: #42dca3;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

.VotingButton {
		-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffe8ff), color-stop(1, #d1e3e6));
	background:-moz-linear-gradient(top, #ffe8ff 5%, #d1e3e6 100%);
	background:-webkit-linear-gradient(top, #ffe8ff 5%, #d1e3e6 100%);
	background:-o-linear-gradient(top, #ffe8ff 5%, #d1e3e6 100%);
	background:-ms-linear-gradient(top, #ffe8ff 5%, #d1e3e6 100%);
	background:linear-gradient(to bottom, #ffe8ff 5%, #d1e3e6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8ff', endColorstr='#d1e3e6',GradientType=0);
	background-color:#ffe8ff;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#769FB1;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 9px;
	text-decoration:none;
}
.VotingButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d1e3e6), color-stop(1, #ffe8ff));
	background:-moz-linear-gradient(top, #d1e3e6 5%, #ffe8ff 100%);
	background:-webkit-linear-gradient(top, #d1e3e6 5%, #ffe8ff 100%);
	background:-o-linear-gradient(top, #d1e3e6 5%, #ffe8ff 100%);
	background:-ms-linear-gradient(top, #d1e3e6 5%, #ffe8ff 100%);
	background:linear-gradient(to bottom, #d1e3e6 5%, #ffe8ff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1e3e6', endColorstr='#ffe8ff',GradientType=0);
	background-color:#d1e3e6;
}
.VotingButton:active {
	position:relative;
	top:1px;
}

.ResultVoting {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffe8ff), color-stop(1, #d1e3e6));
	background:-moz-linear-gradient(top, #ffe8ff 5%, #d1e3e6 100%);
	background:-webkit-linear-gradient(top, #ffe8ff 5%, #d1e3e6 100%);
	background:-o-linear-gradient(top, #ffe8ff 5%, #d1e3e6 100%);
	background:-ms-linear-gradient(top, #ffe8ff 5%, #d1e3e6 100%);
	background:linear-gradient(to bottom, #ffe8ff 5%, #d1e3e6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8ff', endColorstr='#d1e3e6',GradientType=0);
	background-color:#ffe8ff;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#769FB1;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 9px;
	text-decoration:none;
}
.ResultVoting:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d1e3e6), color-stop(1, #ffe8ff));
	background:-moz-linear-gradient(top, #d1e3e6 5%, #ffe8ff 100%);
	background:-webkit-linear-gradient(top, #d1e3e6 5%, #ffe8ff 100%);
	background:-o-linear-gradient(top, #d1e3e6 5%, #ffe8ff 100%);
	background:-ms-linear-gradient(top, #d1e3e6 5%, #ffe8ff 100%);
	background:linear-gradient(to bottom, #d1e3e6 5%, #ffe8ff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1e3e6', endColorstr='#ffe8ff',GradientType=0);
	background-color:#d1e3e6;
}
.ResultVoting:active {
	position:relative;
	top:1px;
}


.PlaceVotesButton {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffe8ff), color-stop(1, #d1e3e6));
	background:-moz-linear-gradient(top, #ffe8ff 5%, #d1e3e6 100%);
	background:-webkit-linear-gradient(top, #ffe8ff 5%, #d1e3e6 100%);
	background:-o-linear-gradient(top, #ffe8ff 5%, #d1e3e6 100%);
	background:-ms-linear-gradient(top, #ffe8ff 5%, #d1e3e6 100%);
	background:linear-gradient(to bottom, #ffe8ff 5%, #d1e3e6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8ff', endColorstr='#d1e3e6',GradientType=0);
	background-color:#ffe8ff;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#769FB1;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 9px;
	text-decoration:none;
}
.PlaceVotesButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d1e3e6), color-stop(1, #ffe8ff));
	background:-moz-linear-gradient(top, #d1e3e6 5%, #ffe8ff 100%);
	background:-webkit-linear-gradient(top, #d1e3e6 5%, #ffe8ff 100%);
	background:-o-linear-gradient(top, #d1e3e6 5%, #ffe8ff 100%);
	background:-ms-linear-gradient(top, #d1e3e6 5%, #ffe8ff 100%);
	background:linear-gradient(to bottom, #d1e3e6 5%, #ffe8ff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1e3e6', endColorstr='#ffe8ff',GradientType=0);
	background-color:#d1e3e6;
}
.PlaceVotesButton:active {
	position:relative;
	top:1px;
}

.singleCheckBox{
	font-size:15px;
	font-weight:bold;
}
.monkey{
	background-image: url(../img/government-chimps.jpg);
	
}

.InvitingButton {
	-moz-box-shadow: 3px 4px 0px 0px #1564ad;
	-webkit-box-shadow: 3px 4px 0px 0px #1564ad;
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.InvitingButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
	background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
	background-color:#378de5;
}
.InvitingButton:active {
	position:relative;
	top:1px;
}
.PollOptionSettings {
	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.PollOptionSettings:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
}
.PollOptionSettings:active {
	position:relative;
	top:1px;
}

.listCloser{
	list-style-position: inside;
	
}
.BuyttonChangeAddingOptions {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52));
	background:-moz-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-webkit-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-o-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-ms-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52',GradientType=0);
	background-color:#b8e356;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #83c41a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #86ae47;
}
.BuyttonChangeAddingOptions:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356));
	background:-moz-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-webkit-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-o-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-ms-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356',GradientType=0);
	background-color:#a5cc52;
}
.BuyttonChangeAddingOptions:active {
	position:relative;
	top:1px;
}

.DisabledButton1 {
-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffe8ff), color-stop(1, #d1e3e6));
	background:-moz-linear-gradient(top, #ffe8ff 5%, #d1e3e6 100%);
	background:-webkit-linear-gradient(top, #ffe8ff 5%, #d1e3e6 100%);
	background:-o-linear-gradient(top, #ffe8ff 5%, #d1e3e6 100%);
	background:-ms-linear-gradient(top, #ffe8ff 5%, #d1e3e6 100%);
	background:linear-gradient(to bottom, #ffe8ff 5%, #d1e3e6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8ff', endColorstr='#d1e3e6',GradientType=0);
	background-color:#ffe8ff;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color: #959595;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 9px;
	text-decoration:none;
}

.thePurpleOne {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffe8ff), color-stop(1, #d1e3e6));
	background:-moz-linear-gradient(top, #ffe8ff 5%, #d1e3e6 100%);
	background:-webkit-linear-gradient(top, #ffe8ff 5%, #d1e3e6 100%);
	background:-o-linear-gradient(top, #ffe8ff 5%, #d1e3e6 100%);
	background:-ms-linear-gradient(top, #ffe8ff 5%, #d1e3e6 100%);
	background:linear-gradient(to bottom, #ffe8ff 5%, #d1e3e6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8ff', endColorstr='#d1e3e6',GradientType=0);
	background-color:#ffe8ff;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#769FB1;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 9px;
	text-decoration:none;
}
.thePurpleOne:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d1e3e6), color-stop(1, #ffe8ff));
	background:-moz-linear-gradient(top, #d1e3e6 5%, #ffe8ff 100%);
	background:-webkit-linear-gradient(top, #d1e3e6 5%, #ffe8ff 100%);
	background:-o-linear-gradient(top, #d1e3e6 5%, #ffe8ff 100%);
	background:-ms-linear-gradient(top, #d1e3e6 5%, #ffe8ff 100%);
	background:linear-gradient(to bottom, #d1e3e6 5%, #ffe8ff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1e3e6', endColorstr='#ffe8ff',GradientType=0);
	background-color:#d1e3e6;
}
.thePurpleOne:active {
	position:relative;
	top:1px;
}

 .InputForVotes { color:black;padding:5px; border:1px solid #999; border-radius:4px; -moz-border-radius:4px; -web-kit-border-radius:4px; -khtml-border-radius:4px; }
.InputForVotes::selection {
  background: #ffb7b7;
}

.AddTexts {
	-moz-box-shadow:inset 0px 1px 0px 0px #f9eca0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f9eca0;
	box-shadow:inset 0px 1px 0px 0px #f9eca0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f0c911), color-stop(1, #f2ab1e));
	background:-moz-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
	background:-webkit-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
	background:-o-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
	background:-ms-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
	background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0c911', endColorstr='#f2ab1e',GradientType=0);
	background-color:#f0c911;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #e65f44;
	display:inline-block;
	cursor:pointer;
	color:#c92200;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ded17c;
}
.AddTexts:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f2ab1e), color-stop(1, #f0c911));
	background:-moz-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
	background:-webkit-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
	background:-o-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
	background:-ms-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
	background:linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ab1e', endColorstr='#f0c911',GradientType=0);
	background-color:#f2ab1e;
}
.AddTexts:active {
	position:relative;
	top:1px;
}

.removeTexts {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24537;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.removeTexts:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
	background-color:#c62d1f;
}
.removeTexts:active {
	position:relative;
	top:1px;
}

