body {
	background:  url(../img/vos.png) repeat center center scroll;
	
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
    font-size: 30px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
}


chart {
	height: 500px;
}

.divForGraph {
	
	text-align: center;
	margin-left: auto ;
 	margin-right: auto ;
}